<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.explore.member.persist.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.explore.model.member.Role">
        <id column="ID" property="id" />
        <result column="ROLE_CODE" property="roleCode" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="ROLE_NOTE" property="roleNote" />
        <result column="ROLE_PARENT" property="roleParent" />
        <result column="CREATE_AT" property="createAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ROLE_CODE, ROLE_NAME, ROLE_NOTE, ROLE_PARENT, CREATE_AT
    </sql>
      <select id="selectMemRoleList" parameterType="String" resultType="com.explore.model.member.Role">
         select ROLE_NAME from t_m_role where ROLE_CODE in(
			select d.ROLE_CODE from t_m_group_role  d where d.GROUP_CODE in(
				select c.GROUP_CODE from t_m_member_group c where c.UID=#{uid}
			)
		)
	
    </select>

</mapper>
