<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  用户名：<input type="text" name="username" >
  密码：<input type="text" name="passwd" >
 <input type="button" value="登录" id="loginsubmit">

</body>
<script type="text/javascript" src="/js/common/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#loginsubmit").click(function(){
		var username = $("input[name='username']").val();
		var passwd = $("input[name='passwd']").val();
		var data = {"username":username,"passwd":passwd};
		$.ajax({
			url:"/member/login",
			data: JSON.stringify(data),
			type:"post",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success:function(resultData){
				console.log(resultData);
				location.href="/index";
			}
		});
	})
})
</script>
</html>